<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="/Assets/server.js"></script>
    <title>Eat The Burger or BURGERS!</title>
</head>

<body>
    {{{ body }}}
</body>

</html>